html, a{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  color: $main-2dark-color;

  font-size: calc($main-f-size + 1vh);
  line-height: calc($main-f-size + 1px + 1.1vh);
  letter-spacing: 0.3vmin;

  font-display: swap;
}

@media (max-width: 992px) {
  html{
    font-size: calc($smaller-f-size + 1vh);
    line-height: calc($smaller-f-size + 1px + 1.1vh);
  }
  a{
    font-size: calc($bigger-f-size + 1vh);
  }
}