//  700 300 400
html, a{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: $main-2dark-color;

  font-size: calc($main-f-size + 1vh);
  line-height: calc($main-f-size + 1px + 1.1vh);
  letter-spacing: 0.3vmin;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  html{
    font-size: calc($smaller-f-size + 1vh);
    line-height: calc($smaller-f-size + 1px + 1.1vh);
  }
  a{
    font-size: calc($bigger-f-size + 1vh);
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (orientation: portrait) and (max-width: 992px) {

}

@media (orientation: portrait) and (max-width: 768px) {

}

@media (orientation: portrait) and (max-width: 576px) {

}