$main-bg-color: #fae9d5bc;

$main-light-color: #FEE8D0;
$main-hover-color: #FEE1C0;
$main-brigt-color: #FDD6AA;
$main-dark-color: #BEA88F;
$main-2dark-color: #A47137;

$sec-light-color: #ACC4CF;
$sec-hover-color: #9FC1CF;
$sec-brigt-color: #6D909F;
$sec-dark-color: #5B6F78;
$sec-2dark-color: #245368;

$main-f-size: 11px;
$smaller-f-size: 9.9px;
$bigger-f-size: 13px;