.skills{
  .skills-container{
    display: flex;
    justify-content: space-between;
    padding: 5vmin 2vmin;
  }
  .soft-skills-container{
    padding: 5vmin 0 0 2vmin;
    .soft-one{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.7vmin 0;
      .name-skill{
        width: 40vmax;
        margin: 3%;
      }
    }
  }
}

@media (max-width: 768px) {
  .skills{
    .soft-skills-container{
      .soft-one{
        .name-skill{
          width: 40%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .skills{
    .skills-container{
      // flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 5vmin 0;
      p{
        text-align: center;
      }
      .skills-item{
        width: 50%;
      }
    }
    .soft-skills-container{
      padding: 5vmin 0 0 2vmin;
      .soft-one{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.7vmin 0;
        .name-skill{
          // width: 30%;
        }
      }
    }
  }
}

@media (max-width: 490px) {
  .skills{
    .skills-container{
      flex-direction: column;
      .skills-item{
        width: 80%;
      }
    }
    .soft-skills-container{
      padding: 5vmin 0 0 2vmin;
      .soft-one{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.7vmin 0;
        .name-skill{
          width: 80%;
        }
        .main-titl{
          display: none;
        }
      }
    }
  }
}

@media (orientation: portrait) and (max-width: 576px) {
  .skills{
    .soft-skills-container{
      padding: 2vmin 0 0 2vmin;
      border-left: 1vmin solid $sec-dark-color;
      margin-left: 2.5vmin;
      padding-left: 2.5vmin;
      .soft-one{
        .name-skill{
          width: 80%;
          font-size: 1.2rem;
          line-height: calc(1.3rem + 4px);
          letter-spacing: 0.2vmin;
          color: $main-2dark-color;
        }
        .main-titl{
          display: none;
        }
      }
    }
  }
}